tensorflow~=2.4.1
numpy~=1.19.5
pandas~=1.1.5
nltk~=3.5


数据库的改变在setting中设置

d中有不同EM距离生成方式

G中有不同的强化学习实现方式
0、补充分类器在后面
	（建立一个程序包、里面为SVM，RF、xgbt、CNN、LSTM、EcapsP验证策略可行性，
		得出的扩充数据和原本训练数据组合，得到训练集然后投入分类器5折交叉验证）

1、在seqgan不变的情况加入PPO尝试
	（建立一个程序包、里面为SVM，RF、xgbt、CNN、LSTM、EcapsP验证策略可行性，
		得出的扩充数据和原本训练数据组合，得到训练集然后投入分类器5折交叉验证）


2、将G结构改transformer解码结构

3、
在RNN模型中加入注意力机制或者参考GPT使用注意力取代LSTM